/* GENERAL */

:root {
  --teal-green: #4297a0;
  --ivory: #f4eae6;
  --coral: #e57f84;
  --red: #f53d3d;
  --light-red: #fbb6b6;
  --blue: #3d3df5;
  --light-blue: #b6b6fb;
  --misty-blue: #2f5061;
  --lighter-grey: #f2f2f2;
  --light-grey: #e6e6e6;
  --grey: #cccccc;
  --dark-grey: #999999;
}

body {
  margin: 0;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

textarea {
  resize: none;
  outline: none;
  border: none;
}

.pfp {
  cursor: pointer;
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.name {
  cursor: pointer;
  font-weight: bold;
}

.name:hover {
  text-decoration: underline;
}

.handle:hover {
  cursor: pointer;
  text-decoration: underline;
}

button {
  height: 2.5em;
  padding: 0 1.5em;
  border-radius: 1em;
  background-color: var(--light-blue);
  border: none;
  cursor: pointer;
}

button.disabled  {
  cursor: default !important;
  background-color: var(--grey) !important;
}

/* GENERAL */

.App {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 3fr 4fr 3fr 
}

.App > div {
  min-height: 100vh;
}

.about {
  border-left: 1px solid var(--light-grey);
  min-width: 250px;
}

/* MAIN */

.main > div {
  margin: auto
}

/* MENU */

.menu {
  border-right: 1px solid var(--light-grey);
  min-width: 250px;
  padding: 0px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  cursor: pointer;
  width: 96px;
  height: 96px;
  transform: scale(-1, 1);
  transform-origin: center;
}

.logo * {
  fill: var(--teal-green) !important;
  stroke: var(--teal-green) !important;
}

.login {
  width: 60%;
  margin-bottom: 12px;
}

.user-info {
  display: grid;
  grid-template-columns: 66px auto;
}

.id-container {
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



/* POST */

.post {
  border-bottom: 1px solid var(--light-grey);
  padding: 8px;
  display: grid;
  grid-template-columns: 72px auto;
}

.post:hover{
  background-color: var(--lighter-grey);
  cursor: pointer;
}

.post .info > span {
  margin-right: 8px;
}

.post .text {
  font-size: 14px;
}

.metrics {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.metrics div {
  width: 25%;
  display: flex;
  align-items: center;
}

.metrics svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
  object-fit: cover;
  margin-right: 4px;
  padding: 4px;
}

.metrics .like svg:hover {
  background-color: var(--light-red);
  border-radius: 50%;
}

.metrics .reply svg:hover {
  stroke: var(--blue);
  background-color: var(--light-blue);
  border-radius: 50%;
}

.metrics .delete svg:hover {
  background-color: var(--grey);
  border-radius: 50%;
}

.metrics svg.liked {
  fill: var(--red);
  stroke: var(--red);
}

/* USER */

.user {
  max-width: 60vw;
}

.user * {
  max-width: inherit;
}

.banner {
  position: relative;
  width: 100%;
  height: 360px;
}

.banner label {
  width: inherit;
  height: inherit;
  display: inline-block;
}

.banner img {
  width: inherit;
  height: inherit;
  display: block;
  object-fit: cover;
}

.banner.editable:hover .edit-prompt {
  display: block;
  box-sizing: border-box;
}

.banner .edit-prompt {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 360px;
  height: 120px;
  border: 1px solid black;
}

.banner .edit-prompt:hover {
  background-color: hsla(0, 0%, 100%, 40%);
}

.edit-prompt span {
  text-align: center;
  position: absolute;
  font-size: 24px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* POST FORM */

.post-form {
  border-bottom: 1px solid var(--light-grey);
}

.post-form .form-container {
  width: 80%;
  margin: auto;
}

.post-form .input-container {
  border-bottom: 1px solid var(--light-grey);
}

.post-form textarea {
  font-size: 20px;
  max-height: 80vh;
}

.post-form .info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 6px 0;
}

.post-form span{
  margin: 0 4px;
}

.overflow {
  color: var(--red);
}



/* SIGNUP */

input.invalid {
  border: 1px solid var(--red)
}


/* REPLY */

.popup {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 30%);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
}

.reply-form {
  width: 700px;
  height: 400px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
