.pfp {
  width: 82px;
  height: 82px;
  border-radius: 50%;
}

.metrics svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: grey;
  object-fit: cover;
}

.metrics svg.liked {
  fill: red;
}